<!DOCTYPE html>
<html>
<head>
<title>何彪个人博客-一个开启你记录旅行的足迹和分享途中所见所闻，与探讨互联网神秘技术的网站</title>
<meta name="keywords" content="何彪个人博客" />
<meta name="description" content="一个关注旅行，在路上寻找那个丢失自我，远离城市的喧哗，放慢脚步去享受慢生活，分享在路上所见所闻，与大家一起发现这世界的千奇百怪！" />
<link href="/css/base1.css" rel="stylesheet">
<link href="/css/index1.css" rel="stylesheet">
<link href="/css/striveboybiao-xf.css" rel="stylesheet">

<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body, td, th {
	font-family: "Microsoft Yahei", Simsun;
    width: fit-content;
}
</style>
</head>

<body>

<!--header--> 
<!--header-->
<header>
  <div id="logo"><a href="http://www.zizhuling.cn" title="何彪个人博客"><img src="/images/logo.png" width="260" height="100"></a></div>
  <nav class="topnav" id="topnav">
    <a href="/index" title="首页"><span>首页</span><span class="en"></span></a>
    <a href="/about" title="关于我"><span>关于我</span><span class="en"></span></a>
    <a href="/life" title="慢生活"><span>慢生活</span><span class="en"></span></a>
    <a href="/doing" title="忙里偷闲"><span>忙里偷闲</span><span class="en"></span></a>
    <a href="/learn" title="学无止境"><span>学无止境</span><span class="en"></span></a>
    <a href="/photo" title="相册"><span>相册</span><span class="en"></span></a>
    <a href="/music" title="在线音乐"><span>在线音乐</span><span class="en"></span></a>
    <a href="/saying" title="留言板"><span>留言板</span><span class="en"></span></a>
  </nav>
</header>
<!--header--> 

<!--header--> 

<!--banner广告-->
<div class="banner">
  <section class="box">
    <ul class="texts">
      <p>一个人行走的范围，就是他的世界。</p>
      <p>为自己掘一个坟墓来葬心，红尘一梦，不再追寻。</p>
      <p>"来来来，握紧我的手，带你去看这世界"。</p>
      <p>生命匆匆，跟随心态，想去即去，想留则留。只为不枉自己 </p>
    </ul>
    <div class="avatar"><a href="/index"><span>何彪个人博客</span></a></div>
  </section>
</div>
<!--banner广告-->

<div class="memorial_day">
  <div class="time_axis"></div>
  <ul>
    <li class="n1"><a href="/" target="_blank">相遇</a>
      <div class="dateview">2013-09-01</div>
    </li>
    <li class="n2"><a href="/" target="_blank">相识</a>
      <div class="dateview">2015-07-04</div>
    </li>
    <li class="n3"><a href="/" target="_blank">相知</a>
      <div class="dateview">2017-07-01</div>
    </li>
    <li class="n4"><a href="/" target="_blank">相恋</a>
      <div class="dateview">2018-04-30</div>
    </li>
    <li class="n5"><a href="/" target="_blank">相爱</a>
      <div class="dateview">2019-01-01</div>
    </li>
  </ul>
</div>

<!--article主体-->
<article> 
  
  <!--l_box-left开始-->
  <div class="l_box f_l">

    <!--数据加载特效-->
    <div class="sk-folding-cube" id="xf">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>

    <!--topnews内容-->
    <div class="topnews" id="findIndex">

      <!--topnews内容-->
      
    </div>
    <div class="links">
      <h3><span>[<a>申请友情链接</a>]</span>友情链接</h3>
      <ul>
        <li><a href='https://www.yangqq.com/' target='_blank'>杨青的博客</a> </li>
        <li><a href='https://www.wangzhijun.com.cn/' target='_blank'>王志军博客</a> </li>
        <li><a href='https://www.zbpnice.cn/' target='_blank'>柏平博客</a> </li>
        <li><a href='http://www.mrszhao.com/' target='_blank'>赵老师博客</a> </li>
        <li><a href='http://www.jzdlink.com/' target='_blank'>呆呆萌萌情侣博客</a> </li>
        <li><a href='http://www.jianhuax.com/' target='_blank'>建华兄个人博客</a> </li>
        <li><a href='http://www.sharedblog.cn/' target='_blank'>前端共享博客</a> </li>
      </ul>
    </div>
  </div>
  <!--l_box-left结束-->
  
  <div class="r_box f_r">
    <div class="tit01">
      <h3>关注我</h3>
      <div class="gzwm">
        <ul>
          <li><a class="xlwb" href="https://weibo.com/u/5863925408?refer_flag=1001030103_&is_all=1" target="_blank">新浪微博</a></li>
          <li><a class="txwb" href="http://t.qq.com/HB1169763240" target="_blank">腾讯微博</a></li>
          <li><a class="rss" href="https://www.inoreader.com/folder/Lifestyle" target="_blank">RSS</a></li>
          <li><a class="wx" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=1169763240@qq.com" target="_blank">邮箱</a></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="/js/jia.js" charset="utf-8"></script> 
    <!--tit01 end-->
    <!--添加音乐-->
   <!-- <div class="tit01">
      <h3><a href="/music" style="color:#FF0000;text-decoration:underline">在线音乐</a></h3>
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="300" height="110" src="http://music.163.com/outchain/player?type=0&amp;id=2067759214&amp;auto=1&amp;height=90"></iframe>
    </div>-->

    <!--天气-->
    <div class="weather">
      <iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe>
    </div>
    <div class="moreSelect" id="lp_right_select">
      <script>
            window.onload = function ()
            {
                var oLi = document.getElementById("tab").getElementsByTagName("li");
                var oUl = document.getElementById("ms-main").getElementsByTagName("div");

                for(var i = 0; i < oLi.length; i++)
                {
                    oLi[i].index = i;
                    oLi[i].onmouseover = function ()
                    {
                        for(var n = 0; n < oLi.length; n++) oLi[n].className="";
                        this.className = "cur";
                        for(var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
                        oUl[this.index].style.display = "block"
                    }
                }
            }
      </script>
      <div class="ms-top">
        <ul class="hd" id="tab">
          <li class="cur"><a href="#">点击排行</a></li>
          <li><a href="#">最新文章</a></li>
          <li><a href="#">站长推荐</a></li>
        </ul>
      </div>
      <div class="ms-main" id="ms-main">
        <div style="display: block;" class="bd bd-news">
          <ul id="rankData">
           <!-- <li><a href="/" target="_blank">分享一个炫酷利用纯CSS3实现的手风琴</a></li>
            <li><a href="/" target="_blank">两只蜗牛艰难又浪漫的一吻</a></li>
            <li><a href="/" target="_blank">每每接到新项目，都感觉困难，踏出</a></li>
            <li><a href="/" target="_blank">春暖花开-走走停停-发现美</a></li>
            <li><a href="/" target="_blank">Ui Parade免费的UI在线设计工具</a></li>
            <li><a href="/" target="_blank">记得秋天吗</a></li>-->
          </ul>
        </div>
        <div  class="bd bd-news">
          <ul id="newsData">
           <!-- <li><a href="/" target="_blank">给我一个答案</a></li>
            <li><a href="/" target="_blank">生活是什么？</a></li>
            <li><a href="/" target="_blank">那些不是事</a></li>
            <li><a href="/" target="_blank">路·过-喜欢在路上</a></li>
            <li><a href="/" target="_blank">人生因分享,人生因分享的风景</a></li>
            <li><a href="/" target="_blank">跟着自己的心走</a></li>-->
          </ul>
        </div>
        <div class="bd bd-news">
          <ul id="nominateData">
           <!-- <li><a href="/" target="_blank">人生的感悟</a></li>
            <li><a href="/" target="_blank">分享逗逼三人游云南旅行</a></li>
            <li><a href="/" target="_blank">遇见一个未知的你</a></li>
            <li><a href="/" target="_blank">重来</a></li>
            <li><a href="/" target="_blank">简易选项卡</a></li>
            <li><a href="/" target="_blank">中国女排3∶2险胜美国</a></li>-->
          </ul>
        </div>
      </div>
      <!--ms-main end --> 
    </div>
    <!--切换卡 moreSelect end -->
    
    <div class="cloud">
      <h3>标签云<a href="/tags">更多>></a></h3>
      <ul>
        <li><a href='/tags' class='tagc1'>摄影</a></li>
        <li><a href='/tags' class='tagc1'>认识</a></li>
        <li><a href='/tags' class='tagc2'>2014</a></li>
        <li><a href='/tags' class='tagc1'>热情</a></li>
        <li><a href='/tags' class='tagc1'>阴影</a></li>
        <li><a href='/tags' class='tagc2'>网站</a></li>
        <li><a href='/tags' class='tagc2'>方式</a></li>
        <li><a href='/tags' class='tagc2'>百度搜索技巧</a></li>
        <li><a href='/tags' class='tagc1'>寂寞</a></li>
        <li><a href='/tags' class='tagc1'>昔日</a></li>
        <li><a href='/tags' class='tagc2'>年轻人</a></li>
        <li><a href='/tags' class='tagc1'>时隔</a></li>
        <li><a href='/tags' class='tagc2'>CSS3手风琴</a></li>
        <li><a href='/tags' class='tagc2'>因为</a></li>
        <li><a href='/tags' class='tagc1'>困难</a></li>
        <li><a href='/tags' class='tagc1'>秋天</a></li>
        <li><a href='/tags' class='tagc2'>草根</a></li>
        <li><a href='/tags' class='tagc1'>主题</a></li>
        <li><a href='/tags' class='tagc2'>感觉</a></li>
        <li><a href='/tags' class='tagc2'>伪原创的技巧</a></li>
        <li><a href='/tags' class='tagc2'>踏出</a></li>
        <li><a href='/tags' class='tagc1'>dede缩</a></li>
        <li><a href='/tags' class='tagc1'>U盘启动制作</a></li>
        <li><a href='/tags' class='tagc2'>川西故事</a></li>
        <li><a href='/tags' class='tagc1'>钢琴曲</a></li>
        <li><a href='/tags' class='tagc1'>CSS</a></li>
        <li><a href='/tags' class='tagc1'>技术</a></li>
        <li><a href='/tags' class='tagc1'>初遇时</a></li>
        <li><a href='/tags' class='tagc2'>爱的家</a></li>
        <li><a href='/tags' class='tagc1'>中国队</a></li>
      </ul>
    </div>

    <div class="tuwen">
      <h3>图文推荐</h3>
      <ul id="readingData">
     <!--   <li>
          <a href="/a/xiangshoumanhuo/20150609/22.html"><img src='/images/1433907076123565-lp.jpg' border='0' width='120' height='120' alt='两只蜗牛艰难又浪漫的一吻'><b>两只蜗牛艰难又浪漫的一吻</b></a>
          <p><span class="tulanmu"><a href="/a/xiangshoumanhuo/index.html">享受慢活</a></span><span class="tutime">2015-06-10</span></p>
        </li>

<li><a href="/a/fenxiangshaer/20150610/70.html"><img src='/images/1433936858662517-lp.jpg' border='0' width='120' height='120' alt='今天'><b>今天</b></a>
          <p><span class="tulanmu"><a href="/a/fenxiangshaer/index.html">分享shaer</a></span>
          <span class="tutime">2015-06-10</span></p>
        </li>
<li><a href="/a/youke/20150609/17.html"><img src='/images/1433907243115781-lp.jpg' border='0' width='120' height='120' alt='程序员请放下你的技术情节，与你的同伴一起进'><b>程序员请放下你的技术情节，与</b></a>
          <p><span class="tulanmu"><a href="/a/youke/index.html">悠客</a></span>
          <span class="tutime">2015-06-10</span></p>
        </li>
<li><a href="/a/jiluhuiyi/20150610/77.html"><img src='/images/1433940857381820-lp.jpg' border='0' width='120' height='120' alt='一个人最好的模样大概是平静一点，坦然接受自'><b>一个人最好的模样大概是平静一</b></a>
          <p><span class="tulanmu"><a href="/a/jiluhuiyi/index.html">记录回忆</a></span>
          <span class="tutime">2015-06-10</span></p>
        </li>
<li><a href="/a/manglitouxian/20150609/5.html"><img src='/images/1433907506239514-lp.jpg' border='0' width='120' height='120' alt='每个人都会有一段异常艰难的时光，'><b>每个人都会有一段异常艰难的时</b></a>
          <p><span class="tulanmu"><a href="/a/manglitouxian/index.html">忙里偷闲</a></span>
          <span class="tutime">2015-06-10</span></p>
        </li>-->

        
      </ul>
    </div>
    
    <!--share分享-->
    <div class="share">
      <h2></h2>
      <!-- Baidu Button BEGIN -->
      <div class="bdshare_t bds_tools_32 get-codes-bdshare" id="bdshare"> <a class="bds_tsina"></a> <a class="bds_qzone"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <span class="bds_more"></span> <a class="shareCount"></a> </div>
      <script id="bdshare_js" type="text/javascript" data="type=tools&uid=6574585"></script> 
      <script id="bdshell_js" src="/js/shell_v2.js" type="text/javascript"></script> 
      <script type="text/javascript">
			document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static//js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
		</script> 
      <!-- Baidu Button END -->
      <p></p>
    </div>
    <!--share分享-->
    
    <div class="ad"> <img src="/images/03.jpg"> </div>
  </div>
  <!--r_box end --> 
</article>
<!--article主体结束-->

<footer>
  <p class="ft-copyright">何彪个人博客 StriveBoyBiao &nbsp;&nbsp;鄂ICP备18012534号</p>
  <div id="tbox"> <a id="togbook" href=""></a> <a id="gotop" href="javascript:void(0)"></a> </div>
</footer>


<!--[if lt IE 9]>

<![endif]-->
<script src="/js/modernizr.js"></script>

<!-- 返回顶部调用 begin -->
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/js.js"></script>
<!--天气-->
<script src="/js/swfobject_modified.js" type="text/javascript"></script>
<!-- 返回顶部调用 end-->
<!--天气-->
<script type="text/javascript">
swfobject.registerObject("FlashID");
</script>
<!--分享-->
<script type="text/javascript" src="/js/silder.js"></script>

<script src="/js/index.js" type="text/javascript"></script>
<!--圆-->
<script color="255,0,0" opacity="0.7" zindex="-2" count="60" src="/js/canvas-nest.min.js"></script><canvas id="c_n6" width="2048" height="962" style="position: fixed; top: 0px; left: 0px; z-index: -2; opacity: 0.7;"></canvas>
<!--侧栏音乐-->
<script src="https://free.limh.me/api/player.php?id=hebiao&jq=y&font=y" type="text/javascript"></script>
<!--双击文字特效-->
<script src="/js/striveboybiao-text.js"></script>
</body>
</html>
