<!doctype html>
<html>
<head>
<title>何彪个人博客-一个开启你记录旅行的足迹和分享途中所见所闻，与探讨互联网神秘技术的网站</title>
<meta name="keywords" content="何彪个人博客" />
<meta name="description" content="" />
<link href="/css/base.css" rel="stylesheet">
<link href="/css/new.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/js/modernizr.js"></script>
<![endif]-->
<script src="/js/swfobject_modified.js" type="text/javascript"></script>
<!-- 返回顶部调用 begin -->
<script type="text/javascript" src="/js/jquery.1.4.2-min.js"></script>
<script type="text/javascript" src="/js/js.js"></script>
<script src="/js/swfobject_modified.js" type="text/javascript"></script>
<!-- 返回顶部调用 end-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- aiwke.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?ba0e885cd446efa2323e5ab6986951da";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>

<!--header-->
<!--header-->
<header>
      <div id="logo"><a href="http://www.zizhuling.cn" title="何彪个人博客"><img src="/images/logo.png" width="260" height="100"></a></div>
      <nav class="topnav" id="topnav">
		  <a href="/index" title="首页"><span>首页</span><span class="en"></span></a>
		  <a href="/about" title="关于我"><span>关于我</span><span class="en"></span></a>
		  <a href="/life" title="慢生活"><span>慢生活</span><span class="en"></span></a>
		  <a href="/doing" title="忙里偷闲"><span>忙里偷闲</span><span class="en"></span></a>
		  <a href="/learn" title="学无止境"><span>学无止境</span><span class="en"></span></a>
		  <a href="/photo" title="相册"><span>相册</span><span class="en"></span></a>
		  <a href="/music" title="在线音乐"><span>在线音乐</span><span class="en"></span></a>
		  <a href="/saying" title="留言板"><span>留言板</span><span class="en"></span></a>
      </nav>
</header>
<!--header-->

<!--header-->

<article class="blogs">
  <h1 class="t_nav">
        <span>您当前的位置：<a href="/index">首页</a> &gt; 在线音乐
        </span>
        <a href="/index" class="n1">网站首页</a>
        <a class="n2">在线音乐</a>
  </h1>
  <div class="index_about">
    <h2 class="c_titile">在线听歌 Online listening to songs</h2>
    <p class="box_c">
    	<span class="d_time">更新时间于：2018-12-30</span>
        <span>编辑：何彪</span>
        <span>互动QQ群：<a>792320700</a>
        </span>
    </p>
    
      <div class="cloud cloud1">
      <ul><html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>-何彪个人博客-一个开启你记录旅行的足迹和分享途中所见所闻，与探讨互联网神秘技术的网站</title>
<style type="text/css">
#div1 {position:relative; width:285px; height:280px; margin:0 auto;}
#div1 a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#cc0000; text-decoration:none; text-shadow:#999; font-weight:600}
#div1 a:hover {border: 1px solid #eee; background:#fff000; padding:3px;}
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
</style>

<!-- aiwke.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?ba0e885cd446efa2323e5ab6986951da";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>

</head> 
 
<body>



	<div style="text-align:center;">
		<img src="/images/img/music.jpg" alt="music" style="width: 100%">
		<iframe src="http://music.zizhuling.cn/music/" width="100%" height="1220" rel="nofollow">
		</iframe>
	</div>
</body>


</html>
      		
      </ul>
    </div>
    <div class="cloud cloud1">

    </div>
    <div class="cloud cloud1">

    </div>
    <div class="otherlink">
      <h2>推荐文章</h2>
      <ul>　　
		  <li th:each="data : ${recommenddata}">
			  <a  th:href="@{/main/findIndexDetails.do?cid={cid}(cid=${data.cid})}"  th:text="${data.title}" th:title="${data.title}"></a>
		  </li>
      </ul>
    </div>
	  <!--添加评论-->
	  <div class="tit01" style="width: 100%;clear: both;overflow: hidden; overflow-x: hidden; overflow-y: hidden;">
		  <h3>文章评论</h3>
		  <!--PC版-->
		  <div id="SOHUCS" sid="<#article/id#>" ></div>
	  </div>
	  <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
	  <script type="text/javascript">
          window.changyan.api.config({
              appid: 'cytKzYNfj',
              conf: 'prod_07cc58b4a84c0ffab71eb1ca6cc6c9a4'
          });
	  </script>
  </div>

  <aside class="right">
	<div class="tit01">
      <h3>关注我</h3>
      <div class="gzwm">
        <ul>
			<li><a class="xlwb" href="https://weibo.com/u/5863925408?refer_flag=1001030103_&is_all=1" target="_blank">新浪微博</a></li>
			<li><a class="txwb" href="http://t.qq.com/HB1169763240" target="_blank">腾讯微博</a></li>
			<li><a class="rss" href="https://www.inoreader.com/folder/Lifestyle" target="_blank">RSS</a></li>
			<li><a class="wx" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=1169763240@qq.com" target="_blank">邮箱</a></li>
		</ul>
      </div>
    </div>
    
    <!--天气-->
    <div class="titm">
    	<p>即将流逝的时光，请珍惜！</p>
		<div width="260" height="90">
			<iframe src="//player.bilibili.com/player.html?aid=25605552&cid=43639846&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
			<!--  <h4><video src="/video/dy.mp4" height="100px" width="100%"></video></h4>-->
			<p><a href="/"><img src="" alt="" /></a></p>
		</div>
 </div>
	<!--最新日志侧栏 列表-->
	<div class="newbolg">
       <h2><a href="/">最新日志</a></h2>
		<ul class="rank">
			<li th:each="data : ${newsdata}">
				<a  th:href="@{/main/findIndexDetails.do?cid={cid}(cid=${data.cid})}"  th:text="${data.title}" th:title="${data.title}"></a>
			</li>
		  </ul>
    </div>

	<!--热评list-->
	<div class="hotcomm">
      	 <h2>热门评论</h2>
		 <ul>
			 <li th:each="data : ${rankdata}">
				 <a  th:href="@{/main/findIndexDetails.do?cid={cid}(cid=${data.cid})}"  th:text="${data.title}" th:title="${data.title}"></a>
			 </li>
		 </ul>
    </div>

    <div class="share">
    	<h2></h2>  
    <div class="bdsharebuttonbox"><a title="分享到新浪微博" class="bds_tsina" href="/" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="/" data-cmd="tqq"></a><a title="分享到QQ空间" class="bds_qzone" href="/" data-cmd="qzone"></a><a title="分享到微信" class="bds_weixin" href="/" data-cmd="weixin"></a><a title="分享到人人网" class="bds_renren" href="/" data-cmd="renren"></a><a class="bds_more" href="/" data-cmd="more"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{"tsina":"18067716981","tqq":"1016340174@qq.com"},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"image":{"viewList":["tsina","tqq","qzone","weixin","renren"],"viewText":"分享到：","viewSize":"32"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","tqq","qzone","weixin","renren"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api//js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
 <p></p>
	</div>
  </aside>
</article>
<footer>
  <p class="ft-copyright">何彪个人博客 Sunshine &nbsp;&nbsp;鄂ICP备18012534号</p>
<div id="tbox"> <a id="togbook" href=""></a> <a id="gotop" href="javascript:void(0)"></a> </div>
</footer>
<script src="/js/silder.js"></script>
<script type="text/javascript">
swfobject.registerObject("FlashID");
</script>
<script color="255,0,0" opacity="0.7" zindex="-2" count="150" src="/js/canvas-nest.min.js"></script><canvas id="c_n6" width="2048" height="962" style="position: fixed; top: 0px; left: 0px; z-index: -2; opacity: 0.7;"></canvas>
<!--双击文字特效-->
<script src="/js/striveboybiao-text.js"></script>
<!--下雪特效-->
<!--<script src="/js/striveboybiao-snow.js"></script>-->
</body>
</html>